<script id="maintpl" type="text/template">
  <div>
    <form class="analyze pull-right" data-attach="analyzeForm">
      <div class="input-append">
        <input name="url" value="<%- options.url %>" type="text" class="input-xlarge" placeholder="http://example.com/evil" data-attach="analyzeUrl">
        <button type="submit" class="btn btn-primary" tabindex=0 ><i class="icon-screenshot" data-attach="analyzeButtonIcon"></i> Search & Analyze</button>
      </div>
    </form>
    <h4>Recent Analysis</h4>
    <table class="table table-striped table-condensed table-analysis" data-attach="analysisTable">
      <thead>
        <tr>
          <th style="width:50%">URL</th>
          <th style="width:25%">Results</th>
          <th style="width:25%">Time</th>
        </tr>
      </thead>
      <tbody>
        <% 
        if(options.rows.length > 0) 
          options.rows.forEach((function(data){ print(this.row(data)) }).bind(this)); 
        else
          print(this.noResults(this));
        %>
      </tbody>
    </table>
  </div>
</script>
<script id="maintpl-noresults" type="text/template">
  <tr>
    <td class="info" colspan="3">
      No results <% var url = (typeof $analyzeUrl !== "undefined") ? $analyzeUrl.val().trim() : ""; if(url != "") { %>for <i><%- $analyzeUrl.val() %></i> <% } %>so far.
    </td>
  </tr>
</script>
<script id="maintpl-row" type="text/template">
  <tr>
    <td title="<%- decodeURI(url) %>"><%- decodeURI(url) %></td>
    <td>
      <% 
        var link = '<a href="/analysis/'+ id + '">';
        if(status === "ACTIVE") {
          print(link +'<i class="icon-spinner"></i> <i>running...</i></a>');
        } else if(status === "FINISHED") {
          if(analysis_size == 0){
            print('<i class="icon-minus-sign"></i> no data received')
          } else {
            
            var _niceSize = (function(units, i){
              if(i>1024 && units.length > 1)
                return _niceSize(units.slice(1),i/1024.0);
              return (Math.round(i*100)/100)+units[0];
            });
            var niceSize = _niceSize.bind(undefined,["B","KB","MB","GB","TB"]);
            
            
            print(link + '<i class="icon-ok-sign"></i> complete ('+niceSize(analysis_size)+')</a>')
          }
        } else if(status === "QUEUE") {
          print(link +'<i class="icon-time"></i> queued</a>');
        }
        %>
      </a>
    </td>
    <td><%- moment(submit_time).fromNow() %></td>
  </tr>
</script>