<script id="queuetpl" type="text/template">
  <div class="queue">
    <% if (options.showSuccessMessage) { %>
    <div class="alert alert-success">
      <i class="icon-trophy icon-2x pull-left"></i>
      <span style="line-height: 2em"><b>Great!</b> Your request is in the queue and will be analyzed soon!</span>
      <a href="#" class="close" data-dismiss="alert">&times;</a>
    </div>
    <% } %>
    <div class="queue media">
      <a class="pull-left" href="#">
        <i class="icon-tasks" style="font-size: 42px"></i>
      </a>
      <div class="media-body">
        <h4 class="media-heading">Your request is currently in the queue at position <b data-attach="queuePosition">#…</b>.</h4>
        Go and grab some coffee, this page refreshes automatically.
      </div>
    </div>
    <div data-attach="shareWidget"></div>
    <button data-attach="notifyButton" data-toggle="button" type="submit" class="notify btn btn-primary btn-block"><i class="icon-bullhorn"></i> Notify me!</button>
    <div class=clearfix></div>
  </div>
</script>

{% include 'tpl/share.html' %}