<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HoneyProxy Client</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="HoneyProxy">
  <meta name="author" content="Maximilian Hils">
  
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet'>
  <link href="/static/css/main.css" rel="stylesheet">	

  <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>	
</head>

<body>

{% block content %}{% endblock %}
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/vendor/buzz.js"></script>
<script src="/static/js/vendor/lodash.custom.js"></script> 
<script src="/static/js/vendor/moment.js"></script> 
<script src="/static/js/main.js"></script>

{% block instruction %}{% endblock %}

<script>
  var _gaq=[['_setAccount','UA-34869249-2'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>